.menu{
    display: flex;
    list-style-type: none;
    font-size: 20pt;
    justify-content: space-around;
    margin-top: auto;
}

.menu a{
    color: steelblue;
    text-decoration: none;
}

#menuborder{
    background-color: black;
    opacity: 70%;
    height: 40px;
    width: 100%;
    padding-bottom: 5px;
}

.menu ul li:after {
    content: '';
    background: url('../Imgs/Amenuseparator.png') center no-repeat;
    vertical-align: middle;
    padding-left: 20px;
}

body{
    background-color: #000B0D;
}