/* remover esse h1 e p depois */
h1{
    color: aliceblue;
    font-size: 40pt;
}

p{
    color: aliceblue;
}

.menu{
    display: flex;
    list-style-type: none;
    font-size: 20pt;
    justify-content: space-around;
    margin-top: auto;
}

.menu a{
    color: steelblue;
    text-decoration: none;
}

#menuborder{
    background-color: black;
    opacity: 70%;
    height: 40px;
    width: 100%;
    padding-bottom: 5px;
}

.menu ul li:after {
    content: '';
    background: url('../Imgs/Amenuseparator.png') center no-repeat;
    vertical-align: middle;
    padding-left: 20px;
}

html, body {
    height: 100%;
  }

body{
    /* background-color: rgba(0, 11, 13); */
    background-image: url('../Imgs/page1/fire-background2.jpg');
    background-size: cover;
    background-position: center;
    /* height: 100%; */
    overflow: hidden;
}

/* .body-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 1010px;
    height: 100%;
    border: 5px solid red;
} */

header{
    height: 15%;
}

.header-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 1010px;
    height: 100%;
    /* border: 5px solid red;  */
    /* background: url('../Imgs/page1/Dragonic.jpg');
    background-size: cover; */
    margin-top: -45px;
}

.divider-rule{
    background: url('../Imgs/page1/divider-sprite.png');
    display: flex;
    position: absolute;
    align-self: flex-end;
    border: 0;
    width: 100%;
    content: "";
    height: 40px;
    margin: 0 0 -10px;
}

main{
    background-image: url('../Imgs/page1/Dragonic.jpg');
    background-size: cover;
    background-position: center;
    height: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main-box{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    width: 1010px;
    /* height: 100%; - quando estiver tudo pronto*/
    height: 100%;
    border: 5px solid red;
}

/* .inline-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 70%;
    height: 100%;
    border: 5px solid red;
} */

/* .aside-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 30%;
    height: 100%;
    border: 5px solid red;
} */

footer{
    height: 10%;
}

.end-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 1010px;
    height: 100%;
}

.opacity{
    background-color: rgba(0, 11, 13, .6);    
}