@import url('//db.onlinewebfonts.com/c/9b0bd801f28d62c9fe2ad03ee1ddcd8f?family=OldManEloquentW01-Reg');

body{
    background-image: url('../Imgs/Villains/Tiamat_2560x1600_0.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    position: relative;

}

.title{
    display: flex;
    justify-content:center;
    justify-self: center;
    margin-top: 30px;
}

.dropdown {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.dropbtn {
    display: flex;
    border: none;
    cursor: pointer;
    position: relative;
    width: 180px;
    height: auto;
}

.dropdown-content {
    display: none;
    justify-content:center;
    position: relative;
    background-color: black;
    min-width: 180px;
}

.dropdown-content a {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, Serif;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 22px;
}

.show {
    display: flex;
}

.part2 {
    display: flex;
    justify-content: flex-end;
    padding-right: auto;
}

.part1 {
    display: flex;
    justify-content: flex-end;
    padding-right: auto;
}

.menuvillansbackground{
    margin-top: -200px;
    margin-bottom: -100px;
    padding-bottom: 280px;
    width: 400px;
    background-color: black;
    opacity: 0.6;
    height: 100%;
}
.menuvillans {
    display: flex;
    flex-direction: column;
    line-height: 80px;
    position: relative;
    padding-top: 300px;
    margin-left: 70px;
    width: 300px;
    height: 100%;
    opacity: 1;
    
}

.menuvillans>button {
    line-height: 40px;
    margin-top: 40px;
}

.boss{
  display: flex;
  position: relative;
  justify-content: center;
  border-radius: 30px;
  font-weight: 900;
  font-size: 30px;
  cursor: pointer;

}

.boss:hover{
  background-color: #fd6408;
  color: White;
  transition: all 0.8s;
}

#space{
    display: flex;
    width: fit-content;
}

.descvillans {
    display: flex;
    position: relative;
    width: 1500px;
    height: 700px;
}

#oldscroll{
  position: absolute;
}

#vil {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction:column-reverse;
  justify-content: center;
  align-items: center;
  margin-left: -150px;
  margin-top: -30px;
}

#vil>p{
  margin-top: 20px;
  width: 500px;
  height: 220px;
  font-size: 28px;
  font-family: 'OldManEloquentW01-Reg';
}

#vil>img{
  object-fit: cover;
  width: 220px;
  height: 220px;
}

.visible {
  opacity: 1;
  visibility: visible;
  display: block;
  transition-delay: 5s;
  transition-duration: 4s ;
}

.hide {
  opacity: 0;
  visibility: hide;
  display: none;
}

.selected {
  background-color: #fd6408;
  color: White;
}

footer{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    color: white;
}

.footer-text{
    text-align: center;
}

#slider {
  width: 0;
  max-width: 5000px;
  height: 0;
  max-height: 5000px;
  position: relative;
}

#slider img{
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 800ms;
}

#slider img.selected { 
  opacity: 1;
  z-index: 2;
  width: 100vw;
  height: 100vw;
}