body{
    background-color: rgba(0, 11, 13);
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: center;
    margin: auto;
    background-image: url('../Imgs/ABackground.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 970px;
    border: 5px solid red;
}

.header-content-box{
    display: flex;
    width: 1010px;
    margin-top: 60px;
    position: absolute;
    align-self: flex-start;
    /* height: 100%; - quando estiver tudo pronto*/
    height: 900px;
    border: 5px solid red;
}

#game-logo{
    display: flex;
    position: relative;
    margin-top: 180px;
    width: 30%;
    height: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu{
    display: flex;
    position: absolute;
    list-style-type: none;
    font-size: 20pt;
    justify-content: space-around;
    margin-top: auto;
    z-index: 1;
}

.menu li{
    display: flex;
    position: relative;
}

.menu a{
    color: steelblue;
    text-decoration: none;
}

#menuborder{
    background-color: black;
    opacity: 70%;
    height: 40px;
    width: 100%;
}

.menu ul li:after {
    content: '';
    background: url('../Imgs/Amenuseparator.png') center no-repeat;
    vertical-align: middle;
    padding-left: 20px;
}

#banner{
    display: flex;
    position: absolute;
    margin-top: 405px;
    margin-left: 85px;
}

#header-title{
    display: block;
    position: absolute; 
    text-align: center;     
    width: 100%;
    margin-top: 760px;
    color: white;
    font-size: 44pt;
}

main{
    background-image: url(../Imgs/ABackgroundMain.jpg);
    width: 100%;
    background-position: center;
    background-repeat:repeat;
    border: 5px solid red;
}

.main-box{
    display: flex;
    align-items: flex-start;
    margin: auto;
    width: 1010px;
    /* height: 100%; - quando estiver tudo pronto*/
    /* talvez tenha que adicionar padding */
    height: 1000px;
    border: 5px solid red;  
}

.inline-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 70%;
    height: 100%;
    border: 5px solid red;
    color: white;
}

.aside-box{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 30%;
    height: 100%;
    border: 5px solid red;
    color: white;
}

.login{
    background: url(../Imgs/loginbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-self: flex-start;
    width: 100%;
    height: 50%;
}

.extra-space{
    display: flex;
    justify-content: center; 
    flex-direction:column;
    text-align: center;
    width: 100%;
    height: 50%;
    border: 5px solid red;
}

footer{
    display: flex;
    justify-content: center;
    margin: auto;
    background-image: url('../Imgs/Afooter.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
    padding-top: 30px;
    color: white;
    border: 5px solid red;
}

#space {
    Width: 100%;
    height: 100vw;
}
#slider {
    width: 100%;
    max-width: 5000px;
    height: 100vw;
    max-height: 5000px;
    position: relative;
}

#slider img{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 800ms;
}

#slider img.selected { 
    opacity: 1;
    z-index: 2;
}

.home-nav {
    display: flex;
    position: absolute;
    justify-content: center;
    margin: auto;
    width: 100%;
    background:rgba(0, 11, 13, .6);
    padding: 2px;
} /*deixa o fundo cinza e opaco*/

.home-nav-inner {
    text-align: center;
    margin: 0 auto;
} /*alinha todo o nav no centro*/

ul.nav-homemenu {
    display: inline-block;
    vertical-align: middle;
    padding-left: 17px;
    padding-right: 17px;
} /*alinha os itens do nav com o fundo cinza opaco*/

.nav-homemenu>li>a{
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, Serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
} /*arruma o texto de cada item do nav*/

ul.nav-homemenu li {
    position: relative;
    z-index: 5;
    display: block;
    float: left;
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
    width: 78px;
} /*deixa os itens lado a lado*/

.footer-text{
    text-align: center;
}

.footer-text p{
    padding-bottom: 5px;
}