@import url('http://fonts.cdnfonts.com/css/moria-citadel');

body{
    background-color: rgba(0, 11, 13);
    overflow-x: hidden;
    word-wrap:break-word;
}

header{
    display: flex;
    justify-content: center;
    margin: auto;
    background-image: url('../Imgs/ABackground.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 970px;
    /* border: 5px solid red; */
}

.header-content-box{
    display: flex;
    flex-direction: column;
    width: 1010px;
    margin-top: 60px;
    position: absolute;
    align-self: flex-start;
    height: 100%;
    /* border: 5px solid red; */
}

#game-logo{
    display: flex;
    position: relative;
    margin-top: 180px;
    width: 300px;
    height: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cellphone-menu{
    display: none;
}

.menu{
    display: flex;
    position: absolute;
    list-style-type: none;
    font-size: 20pt;
    justify-content: space-around;
    margin-top: auto;
    z-index: 1;
}

.menu li{
    display: flex;
    position: relative;
}

.menu a{
    color: steelblue;
    text-decoration: none;
}

#menuborder{
    background-color: black;
    opacity: 70%;
    height: 40px;
    width: 100%;
}

.menu ul li:after {
    content: '';
    background: url('../Imgs/Amenuseparator.png') center no-repeat;
    vertical-align: middle;
    padding-left: 20px;
}

#banner{
    display: flex;
    margin-top: 50px;
    margin-left: 90px;
    height: 287px;
    width: 564px;
}

#header-title{
    display: flex;
    position: absolute; 
    justify-content: center;
    text-align: center;     
    width: 100%;
    margin-top: 760px;
    color: #D8DBB3;
    font-size: 40pt;
    font-family: 'Moria Citadel';
}

#silver-line{
    display: flex;
    position: absolute;
    width: 1010px;
    margin-top: 480px;
    align-self: center;
    justify-self: center;
}

main{
    background-image: url(../Imgs/ABackgroundMain.jpg);
    width: 100%;
    background-position: center;
    background-repeat:repeat;
    /* border: 5px solid red; */
}

.main-box{
    display: flex;
    align-items: flex-start;
    margin: auto;
    width: 1010px;
    height: 1100px;
    /* border: 5px solid red;   */
}

.inline-box{
    display: flex;
    position: relative;
    flex-direction: column;
    margin: auto;
    width: 60%;
    height: 100%;
    /* border: 5px solid red; */
    color: white;
}

#white-divider{
    position: relative;
    align-self: center;
    margin-top: -30px;
    height: 20px;
    width: 150px;
}

.internal-box{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 30%;  
    margin: 20px;
    /* border: 5px solid red; */
}

.internal-box-division{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    width: 65%;  
    height: 100%;  
    justify-content: center;
    /* border: 5px solid red; */
}

.internal-box-division>h1{
    color: #62E4E0;
    margin: 10px 0 0;
    font-size: 22pt;
    font-family: Georgia, 'Times New Roman', Times, Serif;
}

.internal-box-division>p{
    color: #D8DBB3;
    font-size: 13pt;
    font-family: Georgia, 'Times New Roman', Times, Serif;
    margin: 10px;
    line-height: 175%;
    /* border: 5px solid green; */
}

.readmore{
    text-decoration: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, Serif;
    position: relative;
    text-align: center;
    color: #D5D4D9;
    overflow: visible;
    cursor: pointer;
    line-height: 27px;
    box-sizing: content-box;
    background: #126966;
    background: linear-gradient(to bottom, #0F5755 0, #1B9D99 20%, #126966 50%, #0A3D3B 80%, #0E5351 100%) no-repeat;
}

.internal-box-image{
    display: flex;
    position: relative;
    align-items: center;
    width: 35%;  
    height: 100%;  
    justify-content: center;
    /* border: 5px solid red; */
}

#ib1{
    background: url('../Imgs/Io.jpg')  no-repeat;
    background-position: center;
    background-size: contain;
}

#ib2{
    background: url('../Imgs/sidemapslight.jpg') no-repeat;
    background-position: center;
    background-size: contain;
}

#ib3{
    background: url('../Imgs/battle.jpg') no-repeat;
    background-position: center;
    background-size: contain;
}

.aside-box{
    display: flex;
    position: relative;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 30%;
    height: 100%;
    /* border: 5px solid red; */
    color: white;
}

form{
    padding-left: 20px;
}


.login{
    background: url(../Imgs/loginbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-self: flex-start;
    width: 100%;
    height: 50%;
}

.login>form{
    margin: 120px 20%;
    display: flex;
    position: relative;
    flex-direction: column;
    /* border: 5px solid yellow; */
}

.login>form>h1{
    color: #69A0BA;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, Serif;
    margin: 20px 0 20px;
}

.login>form>div>label{
    color: #D8DBB3;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, Serif;
    line-height: 25px;
    /* border: 5px solid green; */
}

.login>form>div>input{
    width: 100%;
    padding: 4px 0;
    color: #A1C4D4;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, Serif;
    background: #39373E;
    border-radius: 4px;
    border: 1px solid #615D69;
    margin: 0 auto;
}

.login>form>div>button{
    text-decoration: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, Serif;
    position: relative;
    text-align: center;
    color: #D5D4D9;
    overflow: visible;
    cursor: pointer;
    line-height: 30px;
    box-sizing: content-box;
    background: #126966;
    background: linear-gradient(to bottom, #0F5755 0, #1B9D99 20%, #126966 50%, #0A3D3B 80%, #0E5351 100%) no-repeat;
}

.reme{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

#rememberme{
    height: auto;
    width: auto;
}

#lost-password{
    margin-top: 15px;
}

#lost-password a{
    color: #6684b4;
}

.extra-space{
    display: flex;
    position: relative;
    justify-content: center; 
    flex-direction:column;
    text-align: center;
    width: 100%;
    height: 50%;
    /* border: 5px solid red; */
    line-height: 30px;
    color: #D8DBB3;
    margin-top: -90px;
}

.extra-space ul{
    text-align: start;
    margin: 30px 15px;
}

.extra-space li{
    text-decoration: none;
}

footer{
    display: flex;
    justify-content: center;
    margin: auto;
    background-image: url('../Imgs/Afooter.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
    padding-top: 30px;
    color: #D8DBB3;
    /* border: 5px solid red; */
}

#space {
    Width: 100%;
    height: 100vw;
}
#slider {
    width: 0;
    max-width: 5000px;
    height: 0;
    max-height: 5000px;
    position: relative;
}

#slider img{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 800ms;
}

#slider img.selected { 
    opacity: 1;
    z-index: 2;
    width: 100vw;
    height: 100vw;
}

.home-nav {
    display: flex;
    position: absolute;
    justify-content: center;
    margin: auto;
    width: 100%;
    background:rgba(0, 11, 13, .6);
    padding: 2px;
} /*deixa o fundo cinza e opaco*/

.home-nav-inner {
    text-align: center;
    margin: 0 auto;
} /*alinha todo o nav no centro*/

ul.nav-homemenu {
    display: inline-block;
    vertical-align: middle;
    padding-left: 17px;
    padding-right: 17px;
} /*alinha os itens do nav com o fundo cinza opaco*/

.nav-homemenu>li>a{
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, Serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    color: #6684b4;
} /*arruma o texto de cada item do nav*/

ul.nav-homemenu li {
    position: relative;
    z-index: 5;
    display: block;
    float: left;
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
    width: 78px;
} /*deixa os itens lado a lado*/

.footer-text{
    text-align: center;
}

.footer-text p{
    padding-bottom: 5px;
}

@media screen and (max-width: 1045px) {

    html, body {
        height: auto;
        width: 100%;
    }
    
    .main-box, .header-box, .header-content-box, .end-box {
        width: 100%;
        height: 100%;
    }

    header{
        height: 650px;
    }

    .header-box{
        margin: auto;
        align-items: center;
    }

    #header-title{
        margin-top: 480px;
        font-size: 35pt;
    }

    #banner{
        margin-top: -90px;
        margin-left: 0px;
        align-items: center;
        align-self: center;
        justify-self: center;
        height: 207px;
        width: 484px;
    }

    #silver-line{
        margin-top: 330px;
        height: 40%;
        width: 100%;
    }

    .main-box{
        flex-direction: column;
    }

    .internal-box{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .inline-box{
        width: 90%;
        height: 100%;  
    }

    .aside-box{
        position: relative;
        width: fit-content;
        height: fit-content;  
    }

    .internal-box-division{
        width: 100%; 
        height: fit-content; 
    }
    
    #ib1, #ib2, #ib3{
        height: 300px;
        width: 90%;  
    }

    .internal-box-image{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .login{
        height: 100%;
        width: 100%;
        justify-content: center;

    }

    .login>form>div>label{
        font-size: 10pt;
    }

    .login>form{
        margin: 1;
    }
    
    .extra-space{
        height: 100%;
        width: 350px;
        margin-top: 0px;
    }
    
}

@media screen and (max-width:600px){
    
    #header-title{
        margin-top: 460px;
        font-size: 32pt;
    }


    #banner{
        margin-top: -50px;
        height: 137px;
        width: 304px;
    }

    .menu{
        display: none;
    }

    .cellphone-menu{
        display: flex;
        height: 100%;
        position: absolute;
        margin-top: -30px;
        margin-left: -150px;
        order: 2;
    }
      
    .center-box{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    
    #checkbox-menu{
        display: flex;
        position: absolute;
        opacity: 0;
    }
      
    .cellphone-menu label{
        background-color: rgb(0, 0, 0, .9);
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        display: flex;
        height: 50px;
        width: 75px;
    }
      
    .cellphone-menu label span{
        position: absolute;
        margin: 15px 11px;
        display: block;
        height: 5px;
        width: 70%;
        border-radius: 30px;
        background: #6684b4;
        transition: 0.25s ease-in-out;
    }
      
    .cellphone-menu label span:nth-child(1){
        top: 0;
    }
      
    .cellphone-menu  label span:nth-child(2){
        top: 8px;
    }
      
    .cellphone-menu label span:nth-child(3){
        top: 16px;
    }
      
    #checkbox-menu:checked + .cellphone-menu label span:nth-child(1){
        transform: rotate(-45deg);
        top: 8px;
    }
      
    #checkbox-menu:checked + .cellphone-menu label span:nth-child(2){
        opacity: 0;
    }
      
    #checkbox-menu:checked + .cellphone-menu label span:nth-child(3){
        transform: rotate(45deg);
        top:8px;
    }
      
    #checkbox-menu:checked ~ .hidden{
        opacity: 1;
        transition: .5s;
    }
      
    .hidden{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        line-height: 50px;
        text-align: center;
        font-size: 25pt;
        opacity: 0;
        background-color: rgb(0, 0, 0, .9);
        width: 180px;
        padding: 10px;
        font-family: 'Palatino';
        z-index: 2;
    }
    
    .hidden a{
        color: antiquewhite;
        text-decoration: none;
    }

    #ib1, #ib2, #ib3{
        height: 300px;
        width: 80%;  
        margin-left: -15px;
    }
}